.App-header {
    font: Open-Sans;
    font-weight: 300;
    color: #6493a1;
}

.DarkLogo {
    background-image: url(./assets/mountain_image.jpeg);
    background-size: cover;
    background-position: bottom;
}

.LightLogo {
    background-image: url(./assets/light_mountain_image.jpg);
    background-size: cover;
    background-position: top;
}

.OkGif {
    background-image: url(./assets/ok.gif);
    background-size: cover;
    background-position: center;
}

.staticUpload {
    background-image: url(./assets/upload.gif);
    background-size: cover;
    background-position: center;
}

.staticChooseOps {
    background-image: url(./assets/chooseops.gif);
    background-size: cover;
    background-position: center;
}

.staticDownload {
    background-image: url(./assets/downloads.gif);
    background-size: cover; 
    background-position: center; 
}

.liveUpload {
    background-image: url(./assets/live_upload.gif);
    background-size: cover; 
    background-position: cover;
}

.liveChooseOps {
    background-image: url(./assets/live_chooseops.gif);
    background-size: cover; 
    background-position: cover;
}

.liveDownload {
    background-image: url(./assets/live_download.gif);
    background-size: cover; 
    background-position: cover;
}

.seeDiff {
    background-image: url(./assets/see_dif.gif);
    background-size: cover; 
    background-position: cover;
}

/* Copy the .OKGif CSS above and rename it to something like .YourGifName" and replace the inside url's gif with the name of the 
gif you wanna add. In order for it to work tho you need to make sure the gif is inside the folder 
/icecap/src/components/assets it should be the same folder that contains the mountain_image.jpeg and the ok.gif rn. 
after you add the css stuff here then just replace the className="OkGif" with className="YourGifName"

each step has it's own two set of gifs so you will be making a lot of gif css blocks. so don't freak if you have like 6
to make LOL just add them here.

don't change any other css style block. just add new ones. and after you're done delete OkGif.
*/

.Step-header {
    font: Open-Sans;
    font-weight: 300;
    color: #6493a1;
}
  
.Step-content {
    font: Open-Sans;
    font-weight: 300;
    color: '#154854';
}
  
.Dropzone {
    width: 780px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Dropzone2 {
    width: 510px;
    height: 530px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.DownloadTextField {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.codeMarker {
    background: rgba(165, 61, 61, 0.192);
    position: absolute;
    z-index: 20;
}
  
@font-face {
    font-family: 'Open-Sans';
    font-weight: 300;
    src: local('Open-Sans-Light'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}
  
@font-face {
    font-family: 'Open-Sans';
    font-weight: 600;
    src: local('Open-Sans-Semi-Bold'), url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
}
  