.App-header {
  font: Open-Sans;
  font-weight: 300;
  color: #6493a1;
}

.Step-header {
  font: Open-Sans;
  font-weight: 300;
  color: #6493a1;
}

.Step-content {
  font: Open-Sans;
  font-weight: 300;
  color: '#154854';
}

.Logo {
  background-image: url(./assets/mountain_image.jpeg);
  background-size: cover;
  background-position: bottom;
}

.Dropzone {
  height: 100px;
  width: 200px;
  background-color: #fff;
  border: 2px dashed rgb(187, 186, 186);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

@font-face {
  font-family: 'Open-Sans';
  font-weight: 300;
  src: local('Open-Sans-Light'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open-Sans';
  font-weight: 600;
  src: local('Open-Sans-Semi-Bold'), url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
}
