.App-header {
  font: Open-Sans;
  font-weight: 300;
  color: #6493a1;
}

.Step-header {
  font: Open-Sans;
  font-weight: 300;
  color: #6493a1;
}

.Step-content {
  font: Open-Sans;
  font-weight: 300;
  color: '#154854';
}

.Logo {
  background-image: url(./assets/mountain_image.jpeg);
  background-size: cover;
  background-position: bottom;
}

@font-face {
  font-family: 'Open-Sans';
  font-weight: 300;
  src: local('Open-Sans-Light'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Open-Sans';
  font-weight: 600;
  src: local('Open-Sans-Semi-Bold'), url(./fonts/OpenSans-SemiBold.ttf) format('truetype');
}
